.infoBlockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 5px;
  gap: 10px;
}

.input {
  margin-bottom: 0;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.variants {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
