.top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapper {
  max-width: 300px;
}

.topImg {
  margin: 0 auto;
  width: 300px;
  object-fit: contain;
}

.topRatingBlock {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  font-size: 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 26px;
}

.cartBtn {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  transition: background-color var(--transition), color var(--transition);
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}

.addToBasketBtn {
  margin-bottom: 10px;
}

.selector {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.infoItem {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 8px;
}

.infoTitle {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
}

.infoDesc {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.infoVariant {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 18px;

  &:not(:last-child) {
    margin-right: 10px;

    &::after {
      content: '/';
      position: absolute;
      right: -8px;
      font-weight: 700;
    }
  }
}

.infoColorWrapper {
  display: inline-flex;
  align-items: center;
}

.infoColor {
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  width: 18px;
  height: 18px;
}
