.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  border-bottom: #ccc dashed 1px;
  padding-bottom: 2px;
  font-size: 18px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.noBorder {
  border: none;
}

.accent {
  font-weight: 400;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}

.modalDesc {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.modalLink {
  margin-left: 5px;
  font-weight: 700;
  color: var(--active);
  transition: color var(--transition);

  &:hover {
    color: var(--active-hover);
  }
}
