.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  background: transparent;
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
  cursor: pointer;
}

.outline {
  border: 1px solid #ccc;
  color: #000;

  &:hover {
    background-color: #ccc;
  }

  &.unHovered,
  &.disabled {
    &:hover {
      background-color: transparent;
    }
  }
}

.primary {
  color: var(--primary-color);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }

  &.unHovered,
  &.disabled {
    &:hover {
      background-color: var(--primary);
    }
  }
}

.secondary {
  color: var(--secondary-color);
  background-color: var(--secondary);

  &:hover {
    background-color: var(--secondary-hover);
  }

  &.unHovered,
  &.disabled {
    &:hover {
      background-color: var(--secondary);
    }
  }
}

.danger {
  color: var(--danger-color);
  background-color: var(--danger);

  &:hover {
    background-color: var(--danger-hover);
  }

  &.unHovered,
  &.disabled {
    &:hover {
      background-color: var(--danger);
    }
  }
}

.success {
  color: var(--success-color);
  background-color: var(--success);

  &:hover {
    background-color: var(--success-hover);
  }

  &.unHovered,
  &.disabled {
    &:hover {
      background-color: var(--success);
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
