.btn {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  transition: background-color var(--transition), color var(--transition), border var(--transition);

  &:hover {
    background-color: #ccc;
  }
}

.notAuth {
  &:hover {
    background-color: unset;
  }
}

.accent {
  font-weight: 700;
  color: var(--active);
}

.unHovered {
  &:hover {
    background-color: transparent;
  }
}
