.root {
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

  &:valid {
    border-color: var(--success);
  }

  &:invalid {
    border-color: var(--danger);
  }

  &:focus {
    border-color: #000;
  }

  &.unFocused {
    &:focus {
      border-color: #ccc;
    }
  }
}

.vertical {
  resize: vertical;
}

.horizontal {
  resize: horizontal;
}

.none {
  resize: none;
}
