.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 423px; /* Статическое значение */
  text-align: start;
}

.top {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 25px;
}

.subtitle {
  display: block;
  overflow: hidden;
  max-width: 80%;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ccc;
}

.img {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 250px;
  object-fit: contain;
}

.imgSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.price {
  margin: 0;
  padding: 0;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.link {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
