.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: var(--active);
}

.navList {
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.navItem {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.navLink {
  font-size: 18px;
  text-decoration: none;
  color: rgb(255 255 255 / 89.7%);

  &:hover {
    color: rgb(255 255 255);
  }
}

.logo {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: rgb(255 255 255 / 89.7%);
}

.logoLink {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}
