:root {
  /* Main */
  --transition: 0.2s ease-in-out;

  /* Primary  */
  --primary-color: #fff;
  --primary: #007bff;
  --primary-hover: #0069d9;

  /* Secondary  */
  --secondary-color: #fff;
  --secondary: #6c757d;
  --secondary-hover: #5a6268;
}
